<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>学习课程2</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!--  偷懒的写法就是用一个通用的js，内部加载的通用的第三方js，然后提供html调用  -->
    <script type="text/javascript" th:src="@{/js/loader.js}"></script>
</head>
<body>
<div class="container">
    <div th:with="msg=${group},username=${session.username}">
        来自数据的信息：<span th:text="'登陆者:' + ${username} + ',请求信息' + ${msg}"></span>
        <br>
        <br>
        <table class="table-bordered">
            <thead>
            <tr>
                <td>域名</td>
                <td>分组</td>
                <td>时间</td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="hosts,status:${datas}">
                <td th:text="${hosts.host}">host</td>
<!--                <td th:text="${hosts.group}">group</td>-->
                <td>  <!--  > , < , >= , <= (gt , lt , ge , le)   == , != (eq, ne)   -->
                    <span th:if="${hosts.group eq 'LOC'}">百度地图组</span>
                    <span th:if="${hosts.group ne 'LOC'}">百度语音组</span>
                </td>
                <td th:text="${hosts.createTime}">时间</td>

            </tr>
            </tbody>
        </table>
    </div>
    <br>

</div>
</body>
</html>