<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--thymeleaf 四种表达式：
    1.${...}    变量表达式
    2.@{...}    链接url表达式
    3.*{...}    选择变量表达式
    4.#{...}    消息表达式，一般用于国际化，极少使用
    -->
<head>
    <title>学习课程</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!--  偷懒的写法就是用一个通用的js，内部加载的通用的第三方js，然后提供html调用  -->
    <script type="text/javascript" th:src="@{/js/loader.js}"></script>
    <script type="text/javascript">
        $(function () {
            console.log("测试Log");
        });


    </script>
</head>
<body>
<div class="container">
    <h1 class="page-header">语法课程</h1>
    <div th:with="name='itsdf07'">
        <a href="" th:href="@{http://localhost:8087/itsdf07/hosts(username=${name})}">全路径请求</a>
        <br>
        <a href="" th:href="@{/hosts(username=${name})}">根路径请求</a>
        <br>
        <a href="" th:href="@{/hosts(username=${name},group='LOC')}">根路径请求(多参)</a>
        <br>
        <a href="" th:href="@{/{username}/{group}/hosts(username=${name},group='TTS')}">占位符根路径请求(多参)</a>
    </div>
</div>
</body>
</html>