<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itsdf07.mapper.GoodEntityMapper">
    <resultMap id="BaseResultMap" type="com.itsdf07.entity.GoodEntity">
        <id column="good_id" property="goodId" jdbcType="INTEGER"/>
        <result column="good_name" property="goodName" jdbcType="VARCHAR"/>
        <result column="good_sku" property="goodSku" jdbcType="VARCHAR"/>
        <result column="good_picture" property="goodPicture" jdbcType="VARCHAR"/>
        <result column="good_count" property="goodCount" jdbcType="INTEGER"/>
        <result column="good_mark" property="goodMark" jdbcType="VARCHAR"/>
        <result column="good_create_dtime" property="goodCreateDtime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
    good_id, good_name, good_sku, good_picture, good_count, good_mark, good_create_dtime
  </sql>
    <select id="selectGood" parameterType="java.lang.String" resultMap="BaseResultMap">
        select *
        from goods
        <where>
            <if test="goodName != null">
                good_name = #{goodName,jdbcType=VARCHAR}
            </if>
            <if test="goodSku != null">
                and good_sku = #{goodSku,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

    <select id="selectGoodBySku" parameterType="java.lang.String" resultMap="BaseResultMap">
        select *
        from goods
        <where>
            <if test="goodSku != null">
                good_sku = #{goodSku,jdbcType=VARCHAR}
            </if>
        </where>
    </select>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from goods
        where good_id = #{goodId,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from goods
    where good_id = #{goodId,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.itsdf07.entity.GoodEntity">
    insert into goods (good_id, good_name, good_sku, 
      good_picture, good_count, good_mark, good_create_dtime
      )
    values (#{goodId,jdbcType=INTEGER}, #{goodName,jdbcType=VARCHAR}, #{goodSku,jdbcType=VARCHAR}, 
      #{goodPicture,jdbcType=VARCHAR}, #{goodCount,jdbcType=INTEGER}, #{goodMark,jdbcType=VARCHAR}, #{goodCreateDtime,jdbcType=TIMESTAMP}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.itsdf07.entity.GoodEntity">
        insert into goods
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="goodId != null">
                good_id,
            </if>
            <if test="goodName != null">
                good_name,
            </if>
            <if test="goodSku != null">
                good_sku,
            </if>
            <if test="goodPicture != null">
                good_picture,
            </if>
            <if test="goodCount != null">
                good_count,
            </if>
            <if test="goodMark != null">
                good_mark,
            </if>
            <if test="goodCreateDtime != null">
                good_create_dtime,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="goodId != null">
                #{goodId,jdbcType=INTEGER},
            </if>
            <if test="goodName != null">
                #{goodName,jdbcType=VARCHAR},
            </if>
            <if test="goodSku != null">
                #{goodSku,jdbcType=VARCHAR},
            </if>
            <if test="goodPicture != null">
                #{goodPicture,jdbcType=VARCHAR},
            </if>
            <if test="goodMark != null">
                #{goodMark,jdbcType=VARCHAR},
            </if>
            <if test="goodCreateDtime != null">
                #{goodCreateDtime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.itsdf07.entity.GoodEntity">
        update goods
        <set>
            <if test="goodName != null">
                good_name = #{goodName,jdbcType=VARCHAR},
            </if>
            <if test="goodSku != null">
                good_sku = #{goodSku,jdbcType=VARCHAR},
            </if>
            <if test="goodPicture != null">
                good_picture = #{goodPicture,jdbcType=VARCHAR},
            </if>
            <if test="goodCount != null">
                good_count = #{goodCount,jdbcType=INTEGER},
            </if>
            <if test="goodMark != null">
                good_mark = #{goodMark,jdbcType=VARCHAR},
            </if>
            <if test="goodCreateDtime != null">
                good_create_dtime = #{goodCreateDtime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where good_id = #{goodId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.itsdf07.entity.GoodEntity">
    update goods
    set good_name = #{goodName,jdbcType=VARCHAR},
      good_sku = #{goodSku,jdbcType=VARCHAR},
      good_picture = #{goodPicture,jdbcType=INTEGER},
      good_count = #{goodCount,jdbcType=VARCHAR},
      good_mark = #{goodMark,jdbcType=VARCHAR},
      good_create_dtime = #{goodCreateDtime,jdbcType=TIMESTAMP}
    where good_id = #{goodId,jdbcType=INTEGER}
  </update>
</mapper>