<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itsdf07.mapper.PingResultEntityMapper" >
  <resultMap id="BaseResultMap" type="com.itsdf07.entity.PingResultEntity" >
    <id column="pr_id" property="prId" jdbcType="INTEGER" />
    <result column="pr_iccid" property="prIccid" jdbcType="VARCHAR" />
    <result column="pr_imei" property="prImei" jdbcType="VARCHAR" />
    <result column="pr_os" property="prOs" jdbcType="INTEGER" />
    <result column="pr_os_version" property="prOsVersion" jdbcType="VARCHAR" />
    <result column="pr_provider" property="prProvider" jdbcType="INTEGER" />
    <result column="pr_net_type" property="prNetType" jdbcType="INTEGER" />
    <result column="pr_host" property="prHost" jdbcType="VARCHAR" />
    <result column="pr_next_host" property="prNextHost" jdbcType="VARCHAR" />
    <result column="pr_ip" property="prIp" jdbcType="VARCHAR" />
    <result column="pr_create_date" property="prCreateDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    pr_id, pr_iccid, pr_imei, pr_os, pr_os_version, pr_provider, pr_net_type, pr_host, 
    pr_next_host, pr_ip, pr_create_date
  </sql>


  <select id="selectByHost" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        *
        from t_ping_result
        where pr_host = #{host,jdbcType=INTEGER}
    </select>

  <insert id="insertBatch">
    insert into t_ping_result (pr_id, pr_iccid, pr_imei,
    pr_os, pr_os_version, pr_provider, pr_net_type,
    pr_host, pr_next_host, pr_ip, pr_create_date)
    values
    <foreach collection="pingResults" item="pingResult" separator=",">
      (#{pingResult.prId,jdbcType=INTEGER},
      #{pingResult.prIccid,jdbcType=VARCHAR},
      #{pingResult.prImei,jdbcType=VARCHAR},
      #{pingResult.prOs,jdbcType=INTEGER},
      #{pingResult.prOsVersion,jdbcType=VARCHAR},
      #{pingResult.prProvider,jdbcType=VARCHAR},
      #{pingResult.prNetType,jdbcType=INTEGER},
      #{pingResult.prHost,jdbcType=VARCHAR},
      #{pingResult.prNextHost,jdbcType=VARCHAR},
      #{pingResult.prIp,jdbcType=VARCHAR},
      #{pingResult.prCreateDate,jdbcType=TIMESTAMP})
    </foreach>

  </insert>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from t_ping_result
    where pr_id = #{prId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_ping_result
    where pr_id = #{prId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.itsdf07.entity.PingResultEntity" >
    insert into t_ping_result (pr_id, pr_iccid, pr_imei, 
      pr_os, pr_os_version, pr_provider, 
      pr_net_type, pr_host, pr_next_host, 
      pr_ip, pr_create_date)
    values (#{prId,jdbcType=INTEGER}, #{prIccid,jdbcType=VARCHAR}, #{prImei,jdbcType=VARCHAR}, 
      #{prOs,jdbcType=INTEGER}, #{prOsVersion,jdbcType=VARCHAR}, #{prProvider,jdbcType=INTEGER}, 
      #{prNetType,jdbcType=INTEGER}, #{prHost,jdbcType=VARCHAR}, #{prNextHost,jdbcType=VARCHAR},
      #{prIp,jdbcType=VARCHAR}, #{prCreateDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.itsdf07.entity.PingResultEntity" >
    insert into t_ping_result
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="prId != null" >
        pr_id,
      </if>
      <if test="prIccid != null" >
        pr_iccid,
      </if>
      <if test="prImei != null" >
        pr_imei,
      </if>
      <if test="prOs != null" >
        pr_os,
      </if>
      <if test="prOsVersion != null" >
        pr_os_version,
      </if>
      <if test="prProvider != null" >
        pr_provider,
      </if>
      <if test="prNetType != null" >
        pr_net_type,
      </if>
      <if test="prHost != null" >
        pr_host,
      </if>
      <if test="prNextHost != null" >
        pr_next_host,
      </if>
      <if test="prIp != null" >
        pr_ip,
      </if>
      <if test="prCreateDate != null" >
        pr_create_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="prId != null" >
        #{prId,jdbcType=INTEGER},
      </if>
      <if test="prIccid != null" >
        #{prIccid,jdbcType=VARCHAR},
      </if>
      <if test="prImei != null" >
        #{prImei,jdbcType=VARCHAR},
      </if>
      <if test="prOs != null" >
        #{prOs,jdbcType=INTEGER},
      </if>
      <if test="prOsVersion != null" >
        #{prOsVersion,jdbcType=VARCHAR},
      </if>
      <if test="prProvider != null" >
        #{prProvider,jdbcType=INTEGER},
      </if>
      <if test="prNetType != null" >
        #{prNetType,jdbcType=INTEGER},
      </if>
      <if test="prHost != null" >
        #{prHost,jdbcType=VARCHAR},
      </if>
      <if test="prNextHost != null" >
        #{prNextHost,jdbcType=VARCHAR},
      </if>
      <if test="prIp != null" >
        #{prIp,jdbcType=VARCHAR},
      </if>
      <if test="prCreateDate != null" >
        #{prCreateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.itsdf07.entity.PingResultEntity" >
    update t_ping_result
    <set >
      <if test="prIccid != null" >
        pr_iccid = #{prIccid,jdbcType=VARCHAR},
      </if>
      <if test="prImei != null" >
        pr_imei = #{prImei,jdbcType=VARCHAR},
      </if>
      <if test="prOs != null" >
        pr_os = #{prOs,jdbcType=INTEGER},
      </if>
      <if test="prOsVersion != null" >
        pr_os_version = #{prOsVersion,jdbcType=VARCHAR},
      </if>
      <if test="prProvider != null" >
        pr_provider = #{prProvider,jdbcType=INTEGER},
      </if>
      <if test="prNetType != null" >
        pr_net_type = #{prNetType,jdbcType=INTEGER},
      </if>
      <if test="prHost != null" >
        pr_host = #{prHost,jdbcType=VARCHAR},
      </if>
      <if test="prNextHost != null" >
        pr_next_host = #{prNextHost,jdbcType=VARCHAR},
      </if>
      <if test="prIp != null" >
        pr_ip = #{prIp,jdbcType=VARCHAR},
      </if>
      <if test="prCreateDate != null" >
        pr_create_date = #{prCreateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where pr_id = #{prId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.itsdf07.entity.PingResultEntity" >
    update t_ping_result
    set pr_iccid = #{prIccid,jdbcType=VARCHAR},
      pr_imei = #{prImei,jdbcType=VARCHAR},
      pr_os = #{prOs,jdbcType=INTEGER},
      pr_os_version = #{prOsVersion,jdbcType=VARCHAR},
      pr_provider = #{prProvider,jdbcType=INTEGER},
      pr_net_type = #{prNetType,jdbcType=INTEGER},
      pr_host = #{prHost,jdbcType=VARCHAR},
      pr_next_host = #{prNextHost,jdbcType=VARCHAR},
      pr_ip = #{prIp,jdbcType=VARCHAR},
      pr_create_date = #{prCreateDate,jdbcType=TIMESTAMP}
    where pr_id = #{prId,jdbcType=INTEGER}
  </update>
</mapper>