<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itsdf07.mapper.PingHostEntityMapper">
    <resultMap id="BaseResultMap" type="com.itsdf07.entity.PingHostEntity">
        <id column="ph_id" property="phId" jdbcType="INTEGER"/>
        <result column="ph_host" property="phHost" jdbcType="VARCHAR"/>
        <result column="ph_group" property="phGroup" jdbcType="VARCHAR"/>
        <result column="ph_create_date" property="phCreateDate" jdbcType="TIMESTAMP"/>
    </resultMap>
    <!--    -->
    <resultMap id="HostPingReuslt" type="com.itsdf07.bean.PingHostBean">
        <result column="ph_host" property="host" jdbcType="VARCHAR"/>
        <result column="ph_group" property="group" jdbcType="VARCHAR"/>
        <result column="ph_create_date" property="createTime" jdbcType="TIMESTAMP"/>
        <collection property="addresses" ofType="PingAddressBean"
                    select="com.itsdf07.mapper.PingResultEntityMapper.selectByHost"
                    column="ph_host">
        </collection>
    </resultMap>

    <sql id="Base_Column_List">
    ph_id, ph_host, ph_group, ph_create_date
  </sql>

    <select id="selectByGroup" resultMap="HostPingReuslt" parameterType="java.lang.String">
        select
        *
        from t_ping_host
        LEFT JOIN t_ping_result ON t_ping_host.ph_host = t_ping_result.pr_host
        <where>
            <if test="ph_group!=null">
                ph_group = #{phHost,jdbcType=VARCHAR}
            </if>
        </where>
    </select>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from t_ping_host
        where ph_id = #{phId,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_ping_host
    where ph_id = #{phId,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.itsdf07.entity.PingHostEntity">
    insert into t_ping_host (ph_id, ph_host, ph_group, 
      ph_create_date)
    values (#{phId,jdbcType=INTEGER}, #{phHost,jdbcType=VARCHAR}, #{phGroup,jdbcType=VARCHAR}, 
      #{phCreateDate,jdbcType=TIMESTAMP})
  </insert>
    <insert id="insertSelective" parameterType="com.itsdf07.entity.PingHostEntity">
        insert into t_ping_host
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="phId != null">
                ph_id,
            </if>
            <if test="phHost != null">
                ph_host,
            </if>
            <if test="phGroup != null">
                ph_group,
            </if>
            <if test="phCreateDate != null">
                ph_create_date,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="phId != null">
                #{phId,jdbcType=INTEGER},
            </if>
            <if test="phHost != null">
                #{phHost,jdbcType=VARCHAR},
            </if>
            <if test="phGroup != null">
                #{phGroup,jdbcType=VARCHAR},
            </if>
            <if test="phCreateDate != null">
                #{phCreateDate,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.itsdf07.entity.PingHostEntity">
        update t_ping_host
        <set>
            <if test="phHost != null">
                ph_host = #{phHost,jdbcType=VARCHAR},
            </if>
            <if test="phGroup != null">
                ph_group = #{phGroup,jdbcType=VARCHAR},
            </if>
            <if test="phCreateDate != null">
                ph_create_date = #{phCreateDate,jdbcType=TIMESTAMP},
            </if>
        </set>
        where ph_id = #{phId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.itsdf07.entity.PingHostEntity">
    update t_ping_host
    set ph_host = #{phHost,jdbcType=VARCHAR},
      ph_group = #{phGroup,jdbcType=VARCHAR},
      ph_create_date = #{phCreateDate,jdbcType=TIMESTAMP}
    where ph_id = #{phId,jdbcType=INTEGER}
  </update>
</mapper>